:root {
  --color-lightred: #ff5733;
  --color-darkred: #b12a0c;
  --color-orange: #ff8a3d;
  --color-white: #fff4f4;
  --color-offblack: #131010;
}

body {
  font-family: ubuntu, arial, sans-serif;
  margin: 0;
  background-color: var(--color-white);
}

header {
  margin: 0;
}


nav {
  border: 4px solid var(--color-darkred);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  position: relative;
}


.hamburger-input {
    display: none;
}

.hamburger-input:checked ~ .nav-slideout {
  transform: translateY(0%);
}

.logo {
  flex-shrink: 0;
}


  .hamburger-label {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
    
  }

  .hamburger-label span {
  position: absolute;
  height: 3px;
  background-color: var(--color-offblack);
  width: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.hamburger-label span:nth-child(1) {
  top: 3px;
}

.hamburger-label span:nth-child(2) {
  top: 11px;
}

.hamburger-label span:nth-child(3) {
  top: 19px;
}

.hamburger-input:checked ~ .hamburger-label span:nth-child(1) {
  opacity: 0;
}

.hamburger-input:checked ~ .hamburger-label span:nth-child(2) {
  transform: rotate(45deg);
  top: 11px;
}

.hamburger-input:checked ~ .hamburger-label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 11px;
}

.nav-slideout {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-darkred); 
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  z-index: 10;
}

.hamburger-input:checked ~ .nav-slideout {
   max-height: 500px;
}


.nav-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  flex-direction: column;
  padding: 0;
  gap: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height;
}

.nav-slideout a {
  display: block;
  padding: 16px 32px;
  text-decoration: none;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  text-align: center;
  transition: background-color 0.2s;
}

.nav-slideout a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.logo img {
  height: auto;
  width: clamp(250px, 30vw, 500px);
}

header {
  background: linear-gradient(135deg, var(--color-darkred), var(--color-orange));
  color: white;
  text-align: center;
  padding: 100px 30px;
}

header h1 {
  font-size: 4em;
}

header p {
  font-size: 1.5em;
  width: 60%;
  margin: 0 auto;
}

header a {
  color: var(--color-white);
  text-decoration: none;
  background-color: var(--color-orange);
  padding: 10px 30px;
  display: inline-block;
  margin-top: 50px;
  font-size: 1.5em;
}

.first {
  text-align: center;
  padding: 100px 30px;
}

.second,
.third {
  text-align: center;
  padding: 64px 32px;
}

.first img,
.second img,
.third img {
  width: 70%;
  border-radius: 8%;
}

main h2 {
  font-size: 2.5em;
}

@media (min-width: 800px) {
  .first img,
  .second img,
  .third img {
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .first {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    text-align: start;
    align-items: center;
  }

  .first p {
    width: 50%;
  }

  .second {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    text-align: end;
    align-items: center;
  }

  .second p {
    width: 50%;
    margin-left: auto;
  }

  .third {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    text-align: start;
    align-items: center;
  }

  .third p {
    width: 50%;
  }
}


footer {
    background-color: var(--color-darkred);
    color: var(--color-white);
    text-align: center;
}

footer h3 {
    font-size: 2em;
}

footer h4 {
    font-size: 20px;
}

.full_footer {
    padding-top: 64px;
    padding-left: clamp(32px, 6vw, 100px);
    padding-right: clamp(32px, 6vw, 100px);
}

.logo_footer {
    margin: 0;
    padding-bottom: 2em;
}

.logo_footer img {
    width: 80%;
    max-width: 400px;
}

.Navigation {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 8px;
    align-items: center;
}

.Navigation a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1em;
    font-weight: 200;
    padding: 0.25em 1em;  
    display: inline-block; 
    line-height: 1.2;
}


.download {
   padding-bottom: 2em;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.join img {
    
    padding-left: 32px;
    max-width: 500px;
}

.divider {
    display: block;
    border: solid 1px var(--color-white);
    margin: 32px 0;
}

.copyrights {
    font-weight: lighter;
    padding-bottom: 2em;
    text-align: start;
    padding-left: clamp(32px, 6vw, 100px);
    padding-right: clamp(32px, 6vw, 100px);

}

.copyrights div {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    

    .full_footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }

    .logo_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

}
