:root {
  --color-lightred: #ff5733;
  --color-darkred: #b12a0c;
  --color-orange: #ff8a3d;
  --color-white: #fff4f4;
  --color-offblack: #131010;
}

body {
  font-family: ubuntu, arial, sans-serif;
  margin: 0;
}

header {
  margin: 0;
}

nav {
  border: 4px solid var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

.logo img {
  height: auto;
  width: clamp(250px, 30vw, 500px);
}

#fullnav {
  justify-content: space-between;
  align-items: center;
  display: none;
}

#hamburger {
  font-size: 4rem;
  color: var(--color-offblack);
  text-decoration: none;
  cursor: pointer;
}

.hero {
  background-image: url(Images/istockphoto-1834494006-1024x1024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: clamp(320px, 60vh, 520px);
  display: flex;
  align-items: center;
  background-position: 75% center;
}

.hero-content {
  padding: min(12em, 12%);
  max-width: 600px;
  text-align: left;
}

.hero-content h1 {
  margin: 0;
  font-size: 40px;
}

.hero-content p {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.works {
  display: flex;

  padding: min(32px, 100px);
  text-align: center;
  padding-top: 64px;
  color: var(--color-offblack);
  align-items: center;
}

.works div span {
  color: var(--color-darkred);
  font-weight: bold;
  font-size: 1em;
}

.works div h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.works div p {
  font-size: 14px;
  padding-bottom: 1.5em;
  width: max(80%, 50%);
  margin: 0 auto;
}

.btn_tryRitmo {
  display: block;
  border: 4px solid var(--color-orange);
  margin: 0 auto;
  width: min(35%, 50%);
  padding: 0.5em 2em;
  text-align: center;
  font-size: 1.5em;
}

.btn_tryRitmo a {
  text-decoration: none;
  color: var(--color-offblack);
}

.btn_tryRitmo:hover {
  background-color: var(--color-orange);
  transition: 0.3s ease-in-out;
  transform: scale(1.02);
}

#running-track1 {
  width: 100%;
  height: auto;
  margin: 2em 0;
}

#running-track1 svg {
  width: 100%;
  height: auto;
  display: block;
}

.Race-Ready {
  display: flex;
  flex-direction: column;

  padding: min(32px, 100px);
  text-align: center;
  padding-top: 64px;
  color: var(--color-offblack);
  align-items: center;
}

.Race-Ready span {
  color: #b12a0c;
  font-weight: bold;
  font-size: 1em;
}

.Race-Ready h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.Race-Ready p {
  font-size: 14px;
  padding-bottom: 1.5em;
  width: max(80%, 50%);
  margin: 0 auto;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat span {
  color: var(--color-offblack);
  font-size: 1.5em;
}

.stat p {
  width: 100%;
}

.runners-img {
  width: 100%;
}

.runners-img img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}

.energy {
  background-color: var(--color-orange);
  display: flex;
  flex-direction: column;

  padding: min(32px, 100px);
  text-align: center;
  padding-top: 64px;
  color: var(--color-white);
  align-items: center;
}

.energy span {
  color: var(--color-darkred);
  font-weight: bold;
  font-size: 1em;
}

.energy h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-bottom: 64px;
  padding-top: 16px;
  padding-top: 0.5em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  max-width: 280px;
  margin: 0 auto 2em;
}

.feature p {
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}

.gif {
  color: var(--color-white);
}

.FAQ {
  padding: 64px 0;
  text-align: center;
  width: 100%;
}

.FAQ span {
  color: var(--color-darkred);
  font-weight: bold;
  font-size: 1em;
}

.FAQ h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  padding-left: clamp(32px, 6vw, 100px);
  padding-right: clamp(32px, 6vw, 100px);
}

.FAQ_list {
  text-align: left;
  padding-left: min(100px, 32px);
  padding-right: min(100px, 32px);
  margin: 0 auto;
  max-width: 900px;
}

.faq-item .dropdown {
  font-size: smaller;
  padding: 1em 0;
}

.faq-item {
  border-bottom: 1px solid var(--color-offblack);
  padding-bottom: 4px;
}

.faq-item summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  font-weight: light;
  color: var(--color-offblack);
}

.faq-item summary {
  list-style: none;
}

.faq-item[open] .icon {
  transform: rotate(45deg);
}

.faq-item .icon {
  font-size: 1.5em;
  transition: transform 0.3s ease;
  font-weight: 200;
}
