:root {
  --color-lightred: #ff5733;
  --color-darkred: #b12a0c;
  --color-orange: #ff8a3d;
  --color-white: #fff4f4;
  --color-offblack: #131010;
}

body {
  font-family: ubuntu, arial, sans-serif;
  margin: 0;
  background-color: var(--color-white);
}

header {
  margin: 0;
}


nav {
  border: 4px solid var(--color-darkred);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 2em;
}



.nav-items a {
  text-decoration: none;
  color: var(--color-offblack);
}

.hamburger-input, .hamburger-label {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-label {
    display: inline-block;
    cursor: pointer;
    font-size: 3em;
  }

  .nav-items {
    display: none;
  }
}

.logo img {
  height: auto;
  width: clamp(250px, 30vw, 500px);
}


.hero {
  background-image: url(Images/istockphoto-1834494006-1024x1024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: clamp(320px, 60vh, 520px);
  display: flex;
  align-items: center;
  background-position: 75% center;
}

.hero-content {
  padding: min(12em, 12%);
  max-width: 600px;
  text-align: left;
}

.hero-content h1 {
  margin: 0;
  font-size: 40px;
}

.hero-content p {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.works {
  display: flex;

  padding: min(32px, 100px);
  text-align: center;
  padding-top: 64px;
  color: var(--color-offblack);
  align-items: center;
}

.works div span {
  color: var(--color-darkred);
  font-weight: bold;
  font-size: 1em;
}

.works div h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.works div p {
  font-size: 14px;
  padding-bottom: 1.5em;
  width: max(80%, 50%);
  margin: 0 auto;
}

.btn_tryRitmo {
  display: block;
  border: 4px solid var(--color-orange);
  margin: 0 auto;
  width: min(35%, 50%);
  padding: 0.5em 2em;
  text-align: center;
  font-size: 1.5em;
}

.btn_tryRitmo a {
  text-decoration: none;
  color: var(--color-offblack);
}

.btn_tryRitmo:hover {
  background-color: var(--color-orange);
  transition: 0.3s ease-in-out;
  transform: scale(1.02);
}

#running-track1 {
  width: 100%;
  height: auto;
  margin: 2em 0;
}

#running-track1 svg {
  width: 100%;
  height: auto;
  display: block;
}

.Race-Ready {
  display: flex;
  flex-direction: column;

  padding: min(32px, 100px);
  text-align: center;
  padding-top: 64px;
  color: var(--color-offblack);
  align-items: center;
}

.Race-Ready > div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2em;
      
    }

.Race-Ready span {
  color: var(--color-darkred);
  font-weight: bold;
  font-size: 1em;
}

.Race-Ready h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.Race-Ready p {
  font-size: 14px;
  padding-bottom: 1.5em;
  width: max(80%, 50%);
  margin: 0 auto;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat span {
  color: var(--color-offblack);
  font-size: 1.5em;
}

.stat p {
  width: 100%;
}

.runners-img {
  width: 100%;
}

.runners-img img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}

.energy {
  background-color: var(--color-darkred);
  display: flex;
  flex-direction: column;

  padding: min(32px, 100px);
  text-align: center;
  padding-top: 64px;
  color: var(--color-white);
  align-items: center;
}

.energy span {
  color: var(--color-darkred);
  font-weight: bold;
  font-size: 1em;
}

.energy h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-bottom: 64px;
  padding-top: 16px;
  padding-top: 0.5em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  max-width: 280px;
  margin: 0 auto 2em;
}

.feature p {
  font-size: 1em;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}

.gif {
  color: var(--color-white);
}

.support-faq {
    background-color: white;
    padding: 80px 32px;
}

.faq-header {
    max-width: 1200px;
    margin: 0 auto 60px;
    text-align: center;
}

.faq-title {
    font-size: 1.1em;
    color: var(--color-offblack);
    font-weight: bold;
}

.faq-header span {
  color: var(--color-darkred);
  font-weight: bold;
  font-size: 1em;

}

.faq-header h2 {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  color: var(--color-offblack);
}

.faq-header p {
    font-size: 1em;
    color: var(--color-offblack);
    opacity: 70%;
}

.faq-container {
    max-width: 900px;
    margin: 0 auto;
}

.faq-item {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-orange);
    margin-bottom: 0;
    padding: 0;
}

.faq-item summary {

    display: flex;
    justify-content: space-between;

    list-style: none;
    align-items: center;
    padding: 20px 24px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease-in;
    
}

.faq-item:hover {
    background-color: lightgrey;
}

.faq-icon {
    font-size: 1.5em;
    color: var(--color-orange);
    transition: transform 0.3s ease;
}

.faq-item[open] .faq-icon {
  transform: rotate(45deg);
}

.faq-answer {
    padding: 0 24px 20px 24px;
    color: var(--color-offblack);
    opacity: 85%;
    line-height: 1.4;
}

@media (max-width: 800px) {
    .faq-answer {
        font-size: 0.8em;
    }

    
}


footer {
    background-color: var(--color-darkred);
    color: var(--color-white);
    text-align: center;
}

footer h3 {
    font-size: 2em;
}

footer h4 {
    font-size: 20px;
}

.full_footer {
    padding-top: 64px;
    padding-left: clamp(32px, 6vw, 100px);
    padding-right: clamp(32px, 6vw, 100px);
}

.logo_footer {
    margin: 0;
    padding-bottom: 2em;
}

.logo_footer img {
    width: 80%;
    max-width: 400px;
}

.Navigation {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 8px;
    align-items: center;
}

.Navigation a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1em;
    font-weight: light;
    padding: 0.25em 1em;  
    display: inline-block; 
    line-height: 1.2;
}


.download {
   padding-bottom: 2em;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.join img {
    
    padding-left: 32px;
    max-width: 500px;
}

.divider {
    display: block;
    border: solid 1px var(--color-white);
    margin: 32px 0;
}

.copyrights {
    font-weight: lighter;
    padding-bottom: 2em;
    text-align: start;
    padding-left: clamp(32px, 6vw, 100px);
    padding-right: clamp(32px, 6vw, 100px);

}

.copyrights div {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .full_feature {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }

    .feature {
      margin-bottom: 2em;
    }

    .full_footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }

    .logo_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

}




   
    
}

@media screen and (min-width: 1000px) {
   .Race-Ready {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .runners-img {
      max-width: 800px;
      min-width: 300px;
      
    }

    .text_race {
      max-width: 800px;
    }


}