:root {
    --color-lightred: #FF5733;
    --color-darkred: #B12A0C;
    --color-orange: #FF8A3D;
    --color-white: #FFF4F4;
    --color-offblack: #131010;
}

body {
    font-family: ubuntu, arial , sans-serif;
    margin: 0;
    
}

header{
   margin: 0;
}

nav {
    border: 4px solid var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    
    
    
}

.logo img {
    height: auto;
    width: clamp(250px, 30vw,500px);
}

#fullnav {
    justify-content: space-between;
    align-items: center;
    display: none;
    
}


#hamburger {
  font-size: 4rem;
  color:var(--color-offblack);
  text-decoration: none;
  cursor: pointer;

}

.hero {
    background-image: url(Images/istockphoto-1834494006-1024x1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: clamp(320px, 60vh,520px);
    display: flex;
    align-items: center;
    background-position: 75% center;
    
}

.hero-content {
    padding: min(12em, 12%);
    max-width: 600px;
    text-align: left;
    
}

.hero-content h1 {
    margin: 0;
    font-size: 40px;
    
}

.hero-content p {
    margin-top: 1.5em;
    font-size: 1.5em;
}

.works {

    display: flex;
    
    padding: min(32px,100px);
    text-align: center;
    padding-top: 64px;
    color: var(--color-offblack);
    align-items: center;
}

.works div span {
    color: #B12A0C;
    font-weight: bold;
    font-size: 1em;
}

.works div h2 {
    font-weight: bold;
    font-size: 2.0em;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 16px;
}

.works div p {
    font-size: 14px;
    padding-bottom: 1.5em;
    width: max(80%,50%);
    margin: 0 auto;
}

.btn_tryRitmo {
    display: block;
    border: 4px solid var(--color-orange);
    margin: 0 auto;
    width: min(35%,50%);
    padding: 0.5em 2em;
    text-align: center;
    font-size: 1.5em;
    
    
}

.btn_tryRitmo a {
    text-decoration: none;
    color: var(--color-offblack);
    
}



.btn_tryRitmo:hover {
    background-color: var(--color-orange);
    transition: 0.3s ease-in-out;
    transform: scale(1.02);
}